.App {
  text-align: center;
}

/* set background-color for entire page */
html {
  background-color: #1E1E1E;
}

.navbar {
  /* set up flexbox */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: stretch;
  /* fix position at top of page */
  position: fixed;
  top: 0;
  width: 100%;
  /* styling */
  padding: 1em;
  border-bottom: 1px solid black;
  background-color: #252526;
  color: #DADAD9;
}

.navbar .title {
  flex: 1 0 auto;
  text-align: left;
  font-size: 1.8em;
  margin-left: 1rem;
}

.navbar .new-post {
  flex: 0 0 auto;
  margin-right: max(1rem, 5%);
  background-color: #007ACC;
  color: #DADAD9;
  border-radius: 0.5em;
  border: 0 none;
  font-size: 1em;
  padding: 0.6em;
}

.navbar .new-post:hover {
  background-color: #DADAD9;
  color: black;
}

.navbar .home {
  flex: 0 0 auto;
  margin-right: 1rem;
  background-color: #252526;
  color: #DADAD9;
  border-radius: 0.5em;
  border: 0.05em solid #dfdfdd;
  font-size: 1em;
  padding: 0.6em;
}

.navbar .home:hover {
  background-color: #dfdfdd;
  color: black;
}

.main {
  margin-top: 5.5em;
  color: #DADAD9;
}

.post-parent {
  margin: 1rem auto 1rem auto;
  width: min(90%, 50em);
  text-align: left;
}

.post-container {
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  background-color: #252526;
  border-radius: 0.25em;
}

.post-container .title {
  font-size: 1.2em;
}

.post-container .content {
  padding: 1rem 0 1rem 0;
}

.new-post-container {
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  background-color: #252526;
  border-radius: 0.25em;
  width: min(90%, 50em);
  text-align: left;
  box-sizing: border-box;
}

.new-post-container .header {
  font-size: 1.2em;
  padding: 0 0 1rem 0;
}

.new-post-container .title {
  padding: 0 0 1rem 0;
}

.new-post-container .author {
  padding: 0 0 1rem 0;
}

.new-post-container #title, #author {
  background-color: #252526;
  color: #DADAD9;
  border: 0.05em solid #DADAD9;
  border-radius: 0.3em;
  font-size: 1em;
  width: 100%;
  box-sizing: border-box;
  padding: 0.25em 0.5em 0.25em 0.5em;
  margin: 0.25em 0 0.25em 0;
}

.new-post-container .content {
  padding: 0 0 1rem 0;
}

.new-post-container #content {
  background-color: #252526;
  color: #DADAD9;
  border: 0.05em solid #DADAD9;
  border-radius: 0.3em;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  height: 20em;
  font-size: 1em;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  resize: vertical;
  overflow: auto;
  margin: 0.25em 0 0.25em 0;
}

.new-post-container .submit {
  font-size: 1em;
  display: flex;
  justify-content: flex-end;
}

.new-post-container #submit {
  flex: 0 0 auto;
  background-color: #007ACC;
  color: white;
  border-radius: 0.5em;
  border: none;
  font-size: 1em;
  padding: 0.6em;
}

.new-post-container #submit:hover {
  background-color: #DADAD9;
  color: black;
}